.offer-img{
      box-shadow: 11px 10px 0px -1px #9b4c0e;
-webkit-box-shadow: 11px 10px 0px -1px #9b4c0e;
-moz-box-shadow: 11px 10px 0px -1px #9b4c0e;
}


  

blockquote {
    font-size: 16px;
    line-height: 30px;
}

  
  /* blockquote::before {
      content: ' \93';
      color: #9b4c0e;
      font-size: 50px;
      line-height: 20px;
      position: relative;
      bottom: -15px;
      right: 5px;
  }
 
  blockquote::after {
    content: ' \94';
    color: #9b4c0e;
    font-size: 50px;
    line-height: 10px;
    position: relative;
    bottom: -15px;
    right: 5px;
} */
  
  .arrow {
      width: 20px;
      position: absolute;
      top: 45%;
      right: -15px;
      /* outline: hidden */
  } 

  .first{
      flex: 1;
  }

  .second{
      flex: 2;
  }